<div id="qaw">
  <h2>Events available</h2> 
<table>
  <tr>
    <th>Name of Event</th>
    <th>Date of Event</th>
    <th>Time of Event</th>
  </tr>
  <tr>
    <td>Arts Festival</td>
    <td>16-06-2018</td>
    <td>11:00</td>

  </tr>
  <tr>
      <td>Business Seminar</td>
      <td>18-06-2018</td>
      <td>09:00</td>
  </tr>
  <tr>
    <td>Trade Show</td>
    <td>20-06-2018</td>
    <td>10:00</td>
  </tr>
  <tr>
      <td>Golf Event</td>
      <td>23-06-2018</td>
      <td>11:00</td>
  </tr>
  <tr>
      <td>Product Launch</td>
      <td>25-06-2018</td>
      <td>09:00</td>
  </tr>
  <tr>
      <td>Team Building Event</td>
      <td>29-06-2018</td>
      <td>10:00</td>
  </tr>
</table>

</div>
